body {
  font-family: "Open Sans", sans-serif;
}

.graphdata{
    display: flex;
    justify-content: space-evenly; 
}

.combineddiv{
    display: flex;
    justify-content: space-between; 
    width: 30%;

}

.container {
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #fff;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scroll-disabler {
    width: 100vw;
    height: 34.4px;
    position: absolute;
    background-color: rgba(0,0,0 , 0.0001);
  }
  
   ::-webkit-scrollbar {
    display: none;
  }
  
  p {
    padding: 8px;
  }
  

  HTML CSSResult Skip Results Iframe
EDIT ON
.bar {
  fill: #aaa;
  height: 21px;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;

}
.bar text {
  fill: #555;
  color: white;
}

.chart:hover .bar,
.chart:focus .bar {
  fill: #aaa;
  color:white;
}

.bar:hover,
.bar:focus {
  fill: red !important;
  color:white;

}
.bar:hover text,
.bar:focus text {
  fill: red;
  color:white;

}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

